@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@page{
    max-height: 1500px;
    
}
#header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orange;
}
#Legoman{
    margin-top: 60%;
    margin-left: 60%;
}
#inB {
background-color: peachpuff;
}

p {
    
    margin-top: 100px;
    
}

.red-text{
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
}

.button{
    margin-top: 10px;
    margin-left: 90%;
    border:black 15 solid;
    
}
#arrow{
    margin-left: 20%;
    margin-top: 50px;
    transform: rotate(45deg);
}
#waldo{
    margin-top: 80%;
    margin-left: 70%;
}
#scroll1{
    border: solid green 10px;
    
}

.bG{
 background-color: burlywood;
 
}
.boxStyle{

}
